/* Custom styles */
.home {
  background-color: black;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
=======
>>>>>>> 90c88bb50dff9c1f7626abaca4a2070e80b14604
}

.header {
  position: relative;
  height: 20vw;
  background-color: brown;
  color: white;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
}

.namespace {
  color: coral;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.body {
  background-color: beige;
  padding: 15px;
}

.icon {
  /* position: absolute;
  right: var(--default-padding);
  top: var(--default-padding); */
}
